<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogFile="c:/Temp/internal.log"
      internalLogLevel="Trace" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/log/info.log"
				layout="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Database" name="logdatabaseinfo" dbProvider="sqlserver" commandType="Text"
				connectionString="${configsetting:item=ConnectionStrings.elp_custom}">
			<commandText>
				INSERT INTO dbo.LogInfo
				(
				Date,
				IdAplicacao,
				IdIdentificacao,
				Level,
				MachineName,
				ThreadId,
				CallsiteClass,
				CallsiteMethod,
				Message,
				Properties
				)
				VALUES
				(
				@Date,
				@IdAplicacao,
				@IdIdentificacao,
				@Level,
				@MachineName,
				@ThreadId,
				@CallsiteClass,
				@CallsiteMethod,
				@Message,
				@Properties
				);
			</commandText>
			<parameter name="@Date" layout="${date}" dbtype="DateTime"/>
			<parameter name="@IdAplicacao" layout="1"/>
			<parameter name="@IdIdentificacao" layout="1"/>
			<parameter name="@Level" layout="${level}"/>
			<parameter name="@MachineName" layout="${machinename}"/>
			<parameter name="@ThreadId" layout="${threadid}"/>
			<parameter name="@CallsiteClass" layout="${callsite:methodName=false}"/>
			<parameter name="@CallsiteMethod" layout="${callsite:className=false}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Properties" layout="${all-event-properties}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger Levels="Trace,Debug,Info" name="*" writeTo="logconsole,logfile,logdatabaseinfo" />
		<logger Levels="Fatal,Error,Warn" name="*" writeTo="logconsole,logfile,logdatabaseerro" />
	</rules>
</nlog>